

html, body {
padding: 0px;
margin: 0px;
font-family: Arial, sans-serif;
}


nav ul {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.75);
    display:flex;
    top: 0px; 
    left: 0px; 
    right: 0px;
    justify-content:space-between;
    list-style-type: none;
    margin:auto;
   width: 50%;
}


li a {
    padding: 2px;
    text-decoration: none;
    color: #FFFFFF;
}

.border { 
   border:1px solid #021a40;
}

.picture {
    background-image: url('images/promenade.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:100%;
    padding:330px;
    color: #FFFFFF;
    font-size: 5em;
}


.summary {
   
    padding: 100px;
    margin-left: 100px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.summary1 {
    margin-right: 200px;
    
}

.shopping {
    
    padding: 50px;
    margin-left: 20px;
    margin-right: 280px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
}


.shopping2 {
    padding-top: 80px;
 
}


.parks {
    
    padding: 50px;
    margin-right: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;

}


.parks1 {
    padding-top: 80px;
}


.food {
   
    padding: 50px;
    margin-left: 80px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.food1 {
    padding-top: 80px;
    margin-right: 200px;
      
}


.neighborhoods {
   
     padding: 50px;
    margin-left: 20px; 
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}


.neighborhoods1 {
     padding: 20px;
     margin-right: 40px;
    margin-left: 150px;
    padding-top: 80px;
        
}


div a:link {
    text-decoration: none;
    color: #000000;
}


div a:hover {
    text-decoration: underline;
    color: #006400;
}

brooklyn.css
Displaying brooklyn.css.