@font-face {
    font-family: 'BEBAS';
    src: url('fonts/BEBAS___.ttf') format('truetype');
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFFFFF; 
    font-family: sans-serif;
}

/* top navigation bar */
nav ul {
    padding: 1%;
    display:flex;
    position: fixed; 
    top: 0px; 
    left: 0px; 
    right: 0px;
    justify-content:space-between;
    list-style-type: none;
    width:50%;
    margin:auto; background-color:rgba(0, 0, 0, 0.75);
}


li a {
    padding: 2px;
    text-decoration: none;
    color: #FFFFFF;
}

li a:hover {
    color: #000000; /* text color changes when hover */; 
}

/* End of Navigation & links*/

/*backgrond image*/
.manhattanhead {
    background-image: url('images/manhattannight.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    padding:300px;
    color: #FFFFFF;
    text-align: center;
    font-size: 5em;
    
}
/* end of background image in header */

/*beginning of history in manhattan */

.summary{
    margin-right:2%;
}
.flag{
    padding-top: 50px;
}

.manhattan1{
    display: flex;
    justify-content: center;
    padding-left:75px;
    padding-right: 75px;
    padding-top: 25px;
    padding-bottom: 25px; 
}



.manhattan2{
    text-align: center; 
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.manhattan3{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}


h3{
    padding-top:30%;
    font-family: BEBAS, 'Arial Black', sans-serif;
    text-align:center;
}


.light, .dark{
    height:400px;
    width:400px;
    margin:1%;
}

.light{
    background-color: #FF8552;
    color: #FFFFFF;
}

.dark{
    background-color: #064789;
    color:#FFFFFF;
}


.light a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

.dark a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
   
}

ul {
    list-style-type: none;
}

.manhattan4{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.manhattan4 div {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

a:hover{
  color: #ff4500 ;
  text-decoration:none;
}

/* button to scroll up */
.button {
    position: fixed; 
    bottom: 35px; 
    right: 35px; 
    border-radius: 20px; 
    background-color: #000000;
    padding:1%;
}

.button a {
    color: #FFFFFF; 
    text-decoration: none; 
    font-size: 15px; 
}
/* footer */
footer {
    padding: 2%;
    text-align: center;
}

.team-name {
    color: #ffa500;
}